<%- include("partials/header.ejs"); %>

<section class="clouds">
    <img src="images/cloud1.png" alt="clouds" class="cloud" id="cloud1" />
    <img src="images/cloud1.png" alt="clouds" class="cloud" id="cloud2" />
    <img src="images/cloud1.png" alt="clouds" class="cloud" id="cloud3" />
    <img src="images/cloud1.png" alt="clouds" class="cloud" id="cloud4" />
</section>

<section class="container">
    <div class="cards">
        <div class="card card1">
            <form action="/search" class="searchBar card1-item" method="POST">
                <input
                    type="text"
                    class="search"
                    placeholder="<%= data.location.name %>"
                    name="location" />

                <button type="submit" class="submit search-button">
                    <img src="svg/search.svg" alt="searchButton" />
                </button>
            </form>
            <p class="loc-name card1-item"><%= data.location.name %></p>
            <div class="info">
                <img
                    src="<%= data.current.condition.icon %>"
                    alt="<%= data.current.condition.text%>"
                    class="weather card1-item" />
                <div class="temprature">
                    <p class="tempr card1-item">
                        <%= eval(`data.current.temp_c`) %> %>
                    </p>
                </div>
                <div class="lat-long">
                    <p class="lat lat-info"></p>
                    <p class="long long-info"></p>
                </div>
            </div>
        </div>
        <div class="card card2"></div>
        <div class="card card3"></div>
        <div class="card card4"></div>
    </div>
</section>

<%- include("partials/footer.ejs"); %>
