<%- include("partials/header.ejs"); %>

<section class="clouds">
    <img src="images/cloud1.png" alt="clouds" class="cloud" id="cloud1" />
    <img src="images/cloud1.png" alt="clouds" class="cloud" id="cloud2" />
    <img src="images/cloud1.png" alt="clouds" class="cloud" id="cloud3" />
    <img src="images/cloud1.png" alt="clouds" class="cloud" id="cloud4" />
</section>

<section class="container">
    <div class="cards">
        <div class="card card1">
            <form action="/search" class="searchBar card1-item" method="POST">
                <input
                    type="text"
                    class="search"
                    placeholder="<%= data.location.name %>"
                    name="location" />

                <button type="submit" class="submit search-button">
                    <img src="svg/search.svg" alt="searchButton" />
                </button>
            </form>
            <p class="loc-name card1-item"><%= data.location.name %></p>
            <div class="info">
                <img
                    src="<%= data.current.condition.icon %>"
                    alt="<%= data.current.condition.text%>"
                    class="weather card1-item" />
                <div class="temprature">
                    <p class="tempr card1-item">
                        <%= eval(`data.current.temp_c`) %> %>
                    </p>
                    <p class="feels-like">Feels Like: <%= data.current.feelslike_c %></p>
                </div>
                <div class="lat-long">
                    <p class="lat lat-info">Latitude: <br /> 
                        <%= data.location.lat %></p>
                    <p class="long long-info">Longitude: <br /> 
                        <%= data.location.lon %></p>
                </div>
            </div>
        </div>
        <div class="card card2">
            <div class="rise-set">
                <p class="sunrise">Sun Rise: <br /> <%= data.astronomy.astro.sunrise %></p><br /><br />
                <p class="sunset">Sun Set: <br /> <%= data.astronomy.astro.sunset %></p><br /><br />
                <p class="moonrise">Moon Rise: <br /> <%= data.astronomy.astro.moonrise %></p><br /><br />
                <p class="moonset">Moon Set: <br /> <%= data.astronomy.astro.moonset %></p><br /><br />
            </div>
        </div>
        <div class="card card3">
            <div class="time-date">
                <p class="time">Local Date: <br /><%= current_date %></p><br />
                <p class="time">Local Time: <br /><%= data.location.localtime.slice(11) %></p><br />
            </div>
        </div>
        <div class="card card4">
            <div class="locate">
                <p class="region">Region: <br /><%= data.location.region %></p><br />
                <p class="country">Country: <br /><%= data.location.country %></p>
            </div>
        </div>
    </div>
</section>

<%- include("partials/footer.ejs"); %>
